monografia.acn
monografia.aux
monografia.glo
monografia.glsdefs
monografia.ist
monografia.log
monografia.out
monografia.pdf
monografia.synctex.gz
monografia.toc
monografia.bbl
monografia.blg
monografia.brf
monografia.lot
*.log
